<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="chat/html"/>
  <title>EngineerChatBox</title>
</head>
    <body>
      <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      <h1>エンジニア相談ボックス</h1>
      <form action="" onsubmit="return false;">
          <p>相談内容なんでもどうぞ</p>
          <select name="example">
            <option value="サンプル1">サンプル1</option>
            <option value="サンプル2">サンプル2</option>
            <option value="サンプル3">サンプル3</option>
          </select>
          <br>
          <textarea cols="50px" rows="20px"></textarea>
          <p>性別<br>
            <input type="radio" name="q1" ,value="男性">男性
            <input type="radio" name="q1" ,value="女性">女性
          </p>
          <p><input type="submit" value="送信"></p>
          <p><input type="reset"  value="リセット"></p>
      </form>
    </body>
</html>