<div class="top">
<form action="/cgi-bin/regist_blog_data.py" method="post">
<div class = "square_box">
    <div class="cp_iptxt">
    <input type="text" id="blog_id" name="blog_id" placeholder="blog_id">
    </div>
    <div class="cp_iptxt">
    <input type="text" id="blogtitle" name="blogtitle" placeholder="blogtitle"/>
    </div>
    <div class="cp_iptxt">
    <textarea style="border:none;"name="article" placeholder="Write Article"></textarea>
    </div>
    <div class="cp_iptxt">
    <input type="date" id="created" name="createtime"/>
    </div>  
  </div>
  <div>
  <button id ="submit">Submit</button>
  </div>
</form>
</div>