<div class="top">
<form action="/cgi-bin/post.py" method="post">
  <div class = "square_box">
    <div class="cp_iptxt">
      <input type="date" id="date" name="date" placeholder="date">
    </div>
    <div class="cp_iptxt">
      <input type="text" id="username" name="username" placeholder="username"/>
    </div>
    <div class="cp_iptxt">
      <input type="text" id="mailaddress" name="mailaddress" placeholder="mailaddress"/>
    </div>
    <div class="cp_iptxt">
      <input type="text" id="task" name="task" placeholder="task"/>
    </div>  
  <div>
  <div>
        <button id ="submit">Submit</button>
  </div>
</form>
</div>