<header>
    <h1>
      <a href="/" style="text-decoration: none;">SiteTemplate</a>
    </h1>
  <nav class="pc-nav">
    <ul>
      <li>
        <button type="button" onclick="location.href='#'">Button</button>
      </li>
      <li>
        <button type="button" onclick="location.href='#'">Button</button>
      </li>
      <li>
        <button type="button" onclick="location.href='#'">Button</button>
      </li>
      <li>
        <button type="button" onclick="location.href='#'">Button</button>
      </li>
      <li>
        <button type="button" onclick="location.href='/Top/index.html'">Back to Top page</button>
      </li>
    </ul>
  </nav>
</header>