<div class = "logintop">
  <form action="/cgi-bin/login.py" method="get">
  <div class = "square_box">
    <div class="login_container">
      <input type="text" name="loginid" placeholder="loginID" required="required">
      <i class="fa fa-user fa-lg fa-fw" aria-hidden="true"></i>
    </div>
    <div class="login_container">
      <input type="text" type="password" name="password" placeholder="password" required="required">
      <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
    </div>
     <div class="loginsignupbutton">
      <button class="loginbutton">Login</button><!-- type="button" onclick="location.href='/Top/'"-->
    <form action="/cgi-bin/signup_regist.py" method="get">
      <button class ="signupbutton" type="button" onclick="location.href='/signup/'">Signup</button>
    </form>
    </div>
  </form>
  </div>
</div>