<div class="card-group">
  <div class="card">
    <div class="card__imgframe"></div>
      <div class="card__textbox">
      <div class="card__titletext">
      BLOGTITILE
      </div>
      <div class="card__overviewtext">
      BLOGARTICLE BLOGARTICLE BLOGARTICLE BLOGARTICLE BLOGARTICLE BLOGARTICLE
      </div>
      </div>
      </div>
      <div class="card">
      <div class="card__imgframe"></div>
      <div class="card__textbox">
      <div class="card__titletext">
      BLOGTITILE
      </div>
      <div class="card__overviewtext">
      BLOGARTICLE BLOGARTICLE BLOGARTICLE BLOGARTICLE BLOGARTICLE BLOGARTICLE
      </div>
      </div>
      </div>
      <div class="card">
      <div class="card__imgframe"></div>
      <div class="card__textbox">
      <div class="card__titletext">
      BLOGTITILE
      </div>
      <div class="card__overviewtext">
      BLOGARTICLE BLOGARTICLE BLOGARTICLE BLOGARTICLE BLOGARTICLE BLOGARTICLE
      </div>
      </div>
      </div>
      <div class="card">
      <div class="card__imgframe"></div>
      <div class="card__textbox">
      <div class="card__titletext">
      BLOGTITILE
      </div>
      <div class="card__overviewtext">
      BLOGARTICLE BLOGARTICLE BLOGARTICLE BLOGARTICLE BLOGARTICLE BLOGARTICLE
      </div>
    </div>
  </div>
</div>