<div class="card-group">
  <div class="card">
    <div class="card__imgframe"></div>
      <div class="card__textbox">
      <div class="card__titletext">
      タイトルがはいります。タイトルがはいります。
      </div>
      <div class="card__overviewtext">
      概要がはいります。概要がはいります。概要がはいります。概要がはいります。
      </div>
      </div>
      </div>
      <div class="card">
      <div class="card__imgframe"></div>
      <div class="card__textbox">
      <div class="card__titletext">
      タイトルがはいります。タイトルがはいります。
      </div>
      <div class="card__overviewtext">
      概要がはいります。概要がはいります。概要がはいります。概要がはいります。
      </div>
      </div>
      </div>
      <div class="card">
      <div class="card__imgframe"></div>
      <div class="card__textbox">
      <div class="card__titletext">
      タイトルがはいります。タイトルがはいります。
      </div>
      <div class="card__overviewtext">
      概要がはいります。概要がはいります。概要がはいります。概要がはいります。
      </div>
      </div>
      </div>
      <div class="card">
      <div class="card__imgframe"></div>
      <div class="card__textbox">
      <div class="card__titletext">
      タイトルがはいります。タイトルがはいります。
      </div>
      <div class="card__overviewtext">
      概要がはいります。概要がはいります。概要がはいります。概要がはいります。
      </div>
    </div>
  </div>
</div>